.img1.d-inline-block {
    width: 32%;
    height: 45%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    margin: -1px;
}
.img1 img {
    margin-top: 50px;
    width: 80%;
}
.underline{
    width: 60px;
    height: 2px;
}
.blog.text-center {
    padding: 0px 400px;
}
.card-img{
    position: relative;
}

.inner-img{
    position: absolute;
    bottom:15px;
    right: 15px;
    width: 185px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    padding: 5px;
}
.inner-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}

/*  Footer section  */
.footer{
    background-color:#081828;
    color: #fff;
}
.footer-widget img{
    width: 50%;
}
.footer-widget h3 {
    font-size: 22px;
    border-left: 2px solid #325bd6;
    padding-left: 10px;
}
.footer-widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.footer-widget ul li {
    margin: 10px 0;
}
.footer-widget ul li a {
    text-decoration: none;
    transition: .4s;
}
.footer a{
    color: #fff;
}

/*  Footer Social  */
.widget-social ul{
    display: flex;
}
.widget-social ul li{
    padding: 10px 0;
    margin: 0 !important;
}
.widget-social ul li span {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.widget-social ul li a {
    font-size: 20px;
    padding: 10px 10px;
}


.footer-copyright p{
    margin-bottom: 0;
}
.footer-contact-item {
    margin-bottom: 20px;
}